<div class="col-md-3" style="margin-top:50px;">
	<%market%>
</div>
<div class="col-md-3">
	<div id="home-odd" class="200x160px"></div>
</div>
<div class="col-md-3">
	<div id="draw-odd" class="200x160px"></div>	
</div>
<div class="col-md-3">
	<div id="away-odd" class="200x160px"></div>
</div>
