// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$tipico-red: #c8102e;
$card-back: #FAFAFA;
$text-grey: #485563;


.card-banner > h4{
	background-color: $tipico-red;
	color: white;
	line-height: 63px;
	margin: 0;
}

.progress{
	background-color: #F5F5F5 !important;
	border: 1px solid #424242;
	margin-top: 6%;
	margin-left: 10%;
	margin-right: 10%;
	height: 8%;
	border-radius: 8px !important;
}	

.progress-bar{
	border-radius: 8px;
	background-color: $tipico-red !important;
}

.form-control{
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-control:focus{
	border-color: $tipico-red !important;
	
}

.card-special{
	position: relative;
	display: block !important;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
	text-align: center;
	width: calc(50% - 20px) !important;
	min-height: 250px;
	background-color: $card-back;
	color: #666;
	
}

#settings-content{
	margin-top: 10px;
}

#submit-settings{
	position: absolute;
	bottom: 0;
	right: 0;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  height: 10px;
  width: 80%; /* Specific width is required for Firefox. */
  background: #F5F5F5; /* Otherwise white in Chrome */
  border-radius: 9px;
  border: 1px solid $text-grey;
  margin: 5px 0;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid $tipico-red;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 2px $tipico-red;
}


input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */

}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.slider-form{
	margin-top: 1%;
	padding: 0 10%;
}

.second-row{
	margin-top: 10px;
}